<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PDV</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>pdv.business.Login</servlet-class>
    <init-param>
      <description></description>
      <param-name>username</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>password</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>pdv.business.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerenciarUsuario</display-name>
    <servlet-name>GerenciarUsuario</servlet-name>
    <servlet-class>pdv.business.GerenciarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerenciarUsuario</servlet-name>
    <url-pattern>/GerenciarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usuarios</display-name>
    <servlet-name>Usuarios</servlet-name>
    <servlet-class>pdv.business.Usuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usuarios</servlet-name>
    <url-pattern>/Usuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Produtos</display-name>
    <servlet-name>Produtos</servlet-name>
    <servlet-class>pdv.business.Produtos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Produtos</servlet-name>
    <url-pattern>/Produtos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerenciarProduto</display-name>
    <servlet-name>GerenciarProduto</servlet-name>
    <servlet-class>pdv.business.GerenciarProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerenciarProduto</servlet-name>
    <url-pattern>/GerenciarProduto</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/erro404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/erro403.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/erro500.jsp</location>
  </error-page>
  <context-param>
    <description>Repositorio de imagens dos produtos</description>
    <param-name>file-upload</param-name>
    <param-value>C:\Program Files\Apache Software Foundation\Tomcat 6.0\webapps\PDV\imagens_produtos\</param-value>
  </context-param>
</web-app>